@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i" rel="stylesheet");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  padding-left: 8%;
}

main {
  float: left;
  margin: 1em;
}

body {
  font-family: Roboto, sans-serif;
}

section {
  border: 2.5px solid rgb(46, 153, 205);
  width: 20em;
  position: relative;
}

section::after{
  content: "";
  display: block;
  clear: both;
}

section img {
  display: block;
  width: 100%;
  padding: 1.7em;
  box-sizing: border-box;
}

.fa-refresh {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 2.5px solid rgb(46, 153, 205);
  border-bottom: 2.5px solid rgb(46, 153, 205);
  background-color: rgb(255,255,255);
  color: rgb(46, 153, 205);
}

.fa-refresh:hover {
  color: rgb(255,255,255);
  background-color: rgb(46, 153, 205);
}

.primary {
  padding: 0;
  margin: 0;
  border-top: 2.5px solid rgb(46, 153, 205);
}

.primary > li {
  display: block;
  border-right: 2.5px solid rgb(46, 153, 205);
  width: 20%;
  padding-top: 1em;
  padding-left: 1.4em;
  margin: 0;
  float: left;
  box-sizing: border-box;
  height: 3em;
  color: rgb(46, 153, 205);
  position: relative;
}

.primary > li:hover {
  color: rgb(255,255,255);
  background-color: rgb(46, 153, 205);
}

.sizepicker:hover .size {
  opacity: 1;
  top: -10.55em;
  transition: opacity .3s linear, top .3s linear;
}

ul.size {
  position: absolute;
  top: -12em;
  left: -0.5em;
  border: 2.5px solid rgb(46, 153, 205);
  background-color: rgb(255,255,255);
  opacity: 0;
  padding: 1em 1.2em 1em 1.2em;
  transition: height 1.5s linear;
}

.size li {
  display: block;
  color: rgb(46, 153, 205);
}

ul.size > li.fa-hand-rock-o {
  font-size: 2.2em;
  padding: .1em;
}

ul.size > li.fa-hand-paper-o {
  font-size: 1.9em;
  padding: .1em;
  padding-left: .1em;
}

ul.size > li.fa-hand-scissors-o {
  font-size: 1.6em;
  padding: .1em;
  padding-left: .2em;
}

ul.size > li.fa-hand-spock-o {
  font-size: 1.3em;
  padding: .1em;
  padding-left: .4em;
}

li.fa.fa-shopping-cart {
  border-right: 0;
}

.square li {
  display: block;
  color: rgb(46, 153, 205);
}

.bluesquare {
background-color: rgb(129, 188, 229);
width: 1.4em;
height: 1.3em;
}

.bluesquare1 {
background-color: rgb(129, 188, 229);
width: 1.4em;
height: 1.3em;
margin: .2em;
}

.pinksquare {
background-color: rgb(212, 130, 170);
width: 1.4em;
height: 1.3em;
margin: .2em;
}

.orangesquare {
background-color: rgb(220, 176, 125);
width: 1.4em;
height: 1.3em;
margin: .2em;
}

.greensquare {
background-color: rgb(138, 227, 150);
width: 1.4em;
height: 1.3em;
margin: .2em;
}

li.squareicon {
  padding: .9em .8em 1.3em 1.2em;
}

.squareicon:hover .square {
  opacity: 1;
  top: -4.1em;
  transition: opacity .3s linear, top .3s linear;
}

ul.square {
  position: absolute;
  top: -5em;
  left: -0.4em;
  width: 4em;
  border: 2.5px solid rgb(46, 153, 205);
  background-color: rgb(255,255,255);
  opacity: 0;
  padding: .2em;
}

li.bluesquare1 {
  float: left;
}

li.pinksquare{
  float: right;
}

li.orangesquare {
  float: left;
}

li.greensquare {
  float: right;
}


section.info {
  margin-top: .7em;
}

.info {
border: none;
color: rgb(46, 153, 205);
}

.info h1 {
  float: left;
  font-weight: lighter;
  font-size: 1.2em;
  margin: 0;
}

h1 {
  padding-left: .2em;
}

.info figure {
  float: right;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}
